@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column
  }

  #main {
    @apply py-16 px-4 mx-auto max-w-[800px];
  }

  li.active {
    @apply underline;
  }
}